body {
  font-family: "Arial", sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-color: #ffcc00;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.game-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 5px;
}

.grid div {
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-labels {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.grid-labels span {
  font-weight: bold;
}

.axis-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 445px;
  width: 13px;
  margin-right: 2px;
}

.axis-labels span {
  height: 44.5px;
  display: flex;
  align-items: center;
}

.horizontal-labels {
  display: flex;
  justify-content: space-around;
  width: 445px;
  padding-left: 13px;
  margin-top: 2px;
}

.horizontal-labels span {
  width: 44.5px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.red-text {
  color: red;
}

#opponent-grid .grid-cell:hover {
  cursor: crosshair;
}
