:root {
  --cell-size: 40px;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #2e2e2e;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-color: #ffcc00;
  width: calc(100% - 40px);
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
}

#game-container {
  width: 80%;
}

#game-boards {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  margin-top: 30px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.game-board-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 5px;
}

.board-grid .grid-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #dcdcdc;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  color: black;
  font-size: 20px;
}

.grid-labels {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.grid-labels span {
  font-weight: bold;
}

.axis-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(var(--cell-size) * 10 + 45px);
  width: 13px;
  margin-right: 2px;
}

.axis-labels span {
  height: calc(var(--cell-size) + 4.5px);
  display: flex;
  align-items: center;
}

.horizontal-labels {
  display: flex;
  justify-content: space-around;
  width: calc(var(--cell-size) * 10 + 45px);
  padding-left: 13px;
  margin-top: 2px;
}

.horizontal-labels span {
  width: calc(var(--cell-size) + 4.5px);
  text-align: center;
}

.hidden {
  display: none !important;
  border: none !important;
}

.almost-hidden {
  opacity: 0.5;
}

.status-text {
  z-index: 11;
}

.red-text {
  color: red;
  font-weight: bold;
}

.orange-text {
  color: orange;
  font-weight: bold;
}

#opponent-grid .grid-cell:hover {
  cursor: crosshair;
}

/* IMAGE STUFF */
.board-grid .grid-cell .miss-img {
  width: calc(var(--cell-size) * 0.7);
  height: calc(var(--cell-size) * 0.7);
}

.dog-image {
  height: 40px;
  z-index: 10;
}

.dog-image.vertical {
  transform: rotate(90deg) translate(0, -100%);
  transform-origin: top left;
}

.grid-cell .dog-image {
  position: absolute;
  top: 0px;
  left: 0px;

  opacity: 0.5;
}

#opponent-gameboard .grid-cell .dog-image {
  pointer-events: none; /* To make sure it doesn’t interfere with grid clicks */
}

.kennels {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 460px;
}

.kennels .title button {
  font-size: 14px;
  width: 70px;
  height: 22px;

  color: black;
  background-color: antiquewhite;
  border: 2px outset rgb(165, 165, 165);

  transition: color 1s, background-color 1s, border;
}

.kennels .title button:not(:disabled) {
  cursor: pointer;
}

.kennels .title button:hover:not(:disabled) {
  color: antiquewhite;
  background-color: rgb(53, 53, 53);
}

.kennels .title button:active:not(:disabled) {
  font-size: 13px;
  border: 2px inset rgb(165, 165, 165);
}

.kennels .kennel-dogs {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-around;
  background-color: #dcdcdc;
  padding: 5px;
  margin-left: 15px;
  width: 435px;
}

.kennels .kennel-dogs .kennel-dog {
  border: 1px solid #aaa;
  background-color: #c7c7c7;
}

.dog-image.L2 {
  width: calc(2 * (var(--cell-size) + 1px) + 5px);
}

.dog-image.L3 {
  width: calc(3 * (var(--cell-size) + 1px) + 10px);
}

.dog-image.L4 {
  width: calc(4 * (var(--cell-size) + 1px) + 15px);
}

.dog-image.L5 {
  width: calc(5 * (var(--cell-size) + 1px) + 20px);
}

/* DOT MATRIX STUFF */
.dot-matrix {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.digit-container {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.digit-container .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(70, 70, 70);
}

.digit-container .dot.lit {
  background: rgb(47, 255, 47);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(157, 255, 148, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(157, 255, 148, 1);
  box-shadow: 0px 0px 15px 0px rgba(157, 255, 148, 1);
}
