@font-face {
  font-family: ITCMachine;
  src: url("./fonts/ITCMachine.ttf");
}

:root {
  --fs-width: calc(100vw - (100vw - 100%));
}

html {
  width: var(--fs-width);
  min-width: var(--fs-width);
}

body {
  font-family: ITCMachine, "Arial", sans-serif;
  background-color: #2e2e2e;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: var(--fs-width);
}

.banner {
  --padding: clamp(8px, calc(8px + (12 * ((100vw - 500px) / 500))), 20px);
  position: relative;
  background-color: rgb(0, 0, 0);
  z-index: 1;

  width: calc(100% - 2 * var(--padding));
  padding: var(--padding);
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%, 100%;
  opacity: 0.8;
  z-index: -1;
}

.banner .title {
  display: flex;
}

.banner .title .text {
  margin-top: 13px;
  color: rgb(0, 255, 13);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.banner #daschund-right {
  transform: scaleX(-1);
}

.banner .logo-img {
  height: 50px;
}

.banner #omni-btn {
  width: 150px;
}

#omni-btn {
  color: #00ff00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 255, 21, 0.452);
  background-color: rgba(0, 0, 0, 0.822);
  transition: all 0.3s;
  position: relative;
  font-size: 16px;
  padding: 2px 0px;
  cursor: pointer;
  border-left: solid 2px rgba(0, 255, 0, 0.5);
  border-right: solid 2px rgba(0, 255, 0, 0.5);
  border-top: none;
  border-bottom: none;
}
#omni-btn span {
  transition: all 0.3s;
}
#omni-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 255, 0, 0.5);
  border-bottom-color: rgba(0, 255, 0, 0.5);
  transform: scale(0.1, 1);
}
#omni-btn:hover span {
  letter-spacing: 2px;
}
#omni-btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

#game-container {
  max-width: 100vw;
}

#game-boards {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-top: clamp(15px, calc(15px + (20 * ((100vw - 500px) / 500))), 30px);
}

@media screen and (max-width: 950px) {
  #game-boards {
    flex-direction: column;
    gap: 25px;
  }
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 100vw;
}

.game-board-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 255, 13, 0.4);
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

:root {
  --cell-size: clamp(30px, calc(30px + (10 * ((100vw - 500px) / 500))), 40px);
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
  gap: 5px;
}

.board-grid .grid-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #dcdcdc;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-family: "Arial", sans-serif;
  color: black;
  font-size: 20px;
}

.grid-labels {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.grid-labels span {
  font-weight: bold;
}

.axis-labels,
.horizontal-labels {
  display: flex;
  justify-content: space-around;
  font-size: calc(3px + var(--cell-size) * 0.5);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 255, 13, 0.4);
}

.axis-labels {
  flex-direction: column;
  height: calc(var(--cell-size) * 10 + 45px);
  width: 13px;
  margin-right: 2px;
}

.axis-labels span {
  height: calc(var(--cell-size) + 4.5px);
  display: flex;
  align-items: center;
}

.horizontal-labels {
  width: calc(var(--cell-size) * 10 + 45px);
  padding-left: 13px;
  margin-top: 4px;
}

.horizontal-labels span {
  width: calc(var(--cell-size) + 4.5px);
  text-align: center;
}

.hidden {
  display: none !important;
  border: none !important;
}

.almost-hidden {
  opacity: 0.5;
}

.barely-visible {
  opacity: 0.01 !important;
}

.status-text {
  z-index: 11;
}

.red-text {
  color: red;
  font-weight: bold;
}

.orange-text {
  color: orange;
  font-weight: bold;
}

#opponent-grid .grid-cell:hover {
  cursor: crosshair;
}

/* IMAGE STUFF */
.board-grid .grid-cell .miss-img {
  width: calc(var(--cell-size) * 0.7);
  height: calc(var(--cell-size) * 0.7);
}

.dog-image {
  height: var(--cell-size);
  z-index: 10;
}

.dog-image.vertical {
  transform: rotate(90deg) translate(0, -100%);
  transform-origin: top left;
}

.grid-cell .dog-image {
  position: absolute;
  top: 0px;
  left: 0px;

  opacity: 0.5;
}

#opponent-gameboard .grid-cell .dog-image {
  pointer-events: none; /* To make sure it doesn’t interfere with grid clicks */
}

.kennels {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: calc(var(--cell-size) * 11);
  max-width: 100vw;
}

.kennels .title {
  font-size: 20px;
  letter-spacing: 2px;
}

.kennels .title button {
  font-size: 14px;
  width: 70px;
  height: 22px;

  color: black;
  background-color: antiquewhite;
  border: 2px outset rgb(165, 165, 165);

  transition: color 1s, background-color 1s, border;
}

.kennels .title button:not(:disabled) {
  cursor: pointer;
}

.kennels .title button:hover:not(:disabled) {
  color: antiquewhite;
  background-color: rgb(53, 53, 53);
}

.kennels .title button:active:not(:disabled) {
  font-size: 13px;
  border: 2px inset rgb(165, 165, 165);
}

.kennels .kennel-dogs {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-around;
  background-color: #dcdcdc;
  padding: 5px;
  margin-left: 15px;
  width: calc(100% - 25px);
  max-width: calc(100vw - 25px);
}

.kennels .kennel-dogs .kennel-dog {
  border: 1px solid #aaa;
  background-color: #c7c7c7;
}

#player-gameboard:not(.game-started) .dog-image {
  cursor: grab;
}

.dog-image.L2 {
  width: calc(2 * (var(--cell-size) + 1px) + 5px);
}

.dog-image.L3 {
  width: calc(3 * (var(--cell-size) + 1px) + 10px);
}

.dog-image.L4 {
  width: calc(4 * (var(--cell-size) + 1px) + 15px);
}

.dog-image.L5 {
  width: calc(5 * (var(--cell-size) + 1px) + 20px);
}

/* DOT MATRIX STUFF */
:root {
  --dot-size: clamp(4px, calc(4px + (6 * ((100vw - 500px) / 500))), 10px);
  --digit-gap: clamp(1px, calc(1px + (1 * ((100vw - 500px) / 500))), 2px);
  --matrix-gap: clamp(3px, calc(3px + (2 * ((100vw - 500px) / 500))), 5px);
}

#dot-matrix-container {
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: #2e2e2e;
  padding: 5px 0px;
}

.dot-matrix {
  display: flex;
  justify-content: center;
  gap: var(--matrix-gap);
}

.digit-container {
  display: grid;
  gap: var(--digit-gap);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.digit-container .dot {
  border-radius: 50%;
  background: rgb(70, 70, 70);
  width: var(--dot-size);
  height: var(--dot-size);
}

.digit-container .dot.lit {
  background: rgb(47, 255, 47);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(157, 255, 148, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(157, 255, 148, 1);
  box-shadow: 0px 0px 15px 0px rgba(157, 255, 148, 1);
}
